.posts {
    display: inline-block;
    width: 84%;
    /* border:1px solid red; */
    height: 45vh;
}

.title{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}